* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home{
  padding-top: 20px;
}

.presentation h1 {
  /*background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;*/
  padding-top: 20px;
}
.presentation p {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.presentation ul {
  padding-top: 10px;
  padding-left: 11%;
}

.presentation img{
  text-align:center;
  margin:auto;
  display:flex;
  height: auto;
  width: 40%;
  padding-bottom: 4rem;
}

.instruments {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4rem;
}

.consortium img{
  text-align:center;
  margin:auto;
  display:flex;
  height: auto;
  width: 40%;
  padding: 4rem;
}

.consortium h1 {
  padding-top: 20px;
}
.consortium p {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.consortium ul {
  padding-top: 10px;
  padding-left: 11%;
}

.calendar img{
  text-align:center;
  margin:auto;
  display:flex;
  height: auto;
  width: 40%;
  padding-bottom: 4rem;
}

.calendar h1 {
  padding-top: 20px;
}
.calendar p {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.data h1 {
  padding-top: 20px;
}
.data p {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

#last{
  padding-bottom: 4rem;
}

.contact h1 {
  padding-top: 20px;
}
.contact p {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}